altgraph==0.17.4
annotated-types==0.6.0
build==1.2.1
colorama==0.4.6
cxxfilt==0.2.2
dncil==1.0.2
dnfile==0.14.1
-e git+https://github.com/mandiant/capa.git@b59df659c93ecead5f585cb03739a31327dbff91#egg=flare_capa
funcy==2.0
halo==0.0.31
ida-netnode==3.0
ida-settings==2.1.0
intervaltree==3.1.0
log-symbols==0.0.14
msgpack==1.0.8
networkx==3.1
packaging==24.0
pefile==2023.2.7
protobuf==5.26.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.22
pydantic==2.7.1
pydantic_core==2.18.2
pyelftools==0.31
pyinstaller==6.6.0
pyinstaller-hooks-contrib==2024.6
pyproject_hooks==1.1.0
python-flirt==0.8.6
PyYAML==6.0.1
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
six==1.16.0
sortedcontainers==2.4.0
spinners==0.0.24
tabulate==0.9.0
termcolor==2.4.0
tqdm==4.66.3
typing_extensions==4.11.0
viv-utils==0.7.9
vivisect==1.1.1
wcwidth==0.2.13
