agent/
node_modules/
package-lock.json

test_rules/*.yml
frida_apis/*.json
frida_outputs/*.jsonl
frida_scripts/*.js
frida_scripts/*.ts
.temp/

# Sample
!frida_apis/frida_apis.json
!test_rules/show-case.yml