body {
    margin: 0 auto;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    transition: color 0.15s ease-in-out;
}

a:hover {
    color: var(--primary-color);
}

.font-monospace {
    font-family: monospace;
}

.cursor-default {
    cursor: default;
}

/* mute and minimize match count text labels, e.g. "(2 matches)" */
.match-count {
    font-size: 0.85em;
    color: #6c757d;
    margin-left: 0.2rem;
}

/* remove the border from rows other than rule names */
.p-treetable-tbody > tr:not(:is([aria-level="1"])) > td {
    border: none !important;
}
