body {
    margin: 0 auto;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    transition: color 0.15s ease-in-out;
}

a:hover {
    color: var(--primary-color);
}

/* remove the border from rows other than rule names */
.p-treetable-tbody > tr:not(:is([aria-level="1"])) > td {
    border: none !important;
}
