name: deploy web to GitHub Pages

on:
  push:
    branches: [ master, "wb/webui-actions-1" ]
    paths:
      - 'web/explorer/**'

  # Allows to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets the GITHUB_TOKEN permissions to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: 'pages'
  cancel-in-progress: true

jobs:
  build-landing-page:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: actions/upload-artifact@v4
        with:
          name: landing-page
          path: './web/index.html'

  build-explorer:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'
          fetch-depth: 1
          show-progress: true
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
          cache-dependency-path: './web/explorer/package-lock.json'
      - name: Install dependencies
        run: npm ci
        working-directory: ./web/explorer
      - name: Build
        run: npm run build
        working-directory: ./web/explorer
      - uses: actions/upload-artifact@v4
        with:
          name: explorer
          path: './web/explorer/dist'

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: [build-landing-page, build-explorer]
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: landing-page
          path: './public/'
      - uses: actions/download-artifact@v4
        with:
          name: explorer
          path: './public/explorer'
      - name: Setup Pages
        uses: actions/configure-pages@v4
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: './public'
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
